<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find A Dream By Id</title>
</head>
<body>
    <h1>Finding A Dream By its ID</h1>

    <h1><strong>ID: <%= dream.id %></strong></h1>
    <h2><strong>Title: <%= dream.title %></strong></h2>
    <p>Date: <%= dream.dream_date %></p>
    <p>Stars: <%= dream.stars %></p>
    <p>Description: <%= dream.description %></p>
    <a href="/">Back to Homepage</a>
</body>
</html>